html{
	padding: 5px ;
	
	margin: 5px;

	
  
}
body{
	background-color: #04B4AE;
	padding: 5px;
	margin: 5px;
}
header{
	width: 100%;
	height: 80px;
	background-color: #0B0B61;
	color:white;
                 

}

header h1{
	margin-left: 10%;
	width: 30%;
	display: inline-block;
	vertical-align: top;

}


header a{
	width: 50px;
	margin-left: 50%;
	display: inline-block;
	vertical-align: top;
}
header a img{
	width: 200%;		/*  Cambio  */
}



section{
	width: 80%;
	min-height: 500px;
	border: 2px solid #DDD;
	padding: 3%;
	margin:0 auto;
	margin-left: 5%;
	margin-top: 50px;
}
.producto{
	width: 23%;
	height: 220px;
	background-color: #E6E6E6 ;    /* CAMBIO*/
	border:1px solid gray;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
}
.producto img{
margin-top: 5px;
	width: 60%;
	height: 60%;
	
	margin:0 auto;
}